.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
}
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.float-left {
    float: left!important;
}
.float-right {
    float: right!important;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.pull-left {
    float: left;
}
@media (min-width: 768px){
.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    }
}
@media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}
}
.g-4, .gy-4 {
    --bs-gutter-y: 1.5rem;
}
.align-middle {
    vertical-align: middle!important;
}
@media (min-width: 992px){
.col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
}
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}
}