#header {
    padding: 10px 0 0px 0;
    height: 60px;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
    box-shadow: 0px 6px 9px 0px rgb(0 0 0 / 6%);
}
#header #logo h1 {
    font-size: 42px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
#header #logo h1 a {
    color: #0c2e8a;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
}
#header #logo h1 a span {
    color: #50d8af;
}